<section class="partner-logos-section">
    <div class="container">
        {{#get "posts" filter="tag:hash-partner-logo" limit="10" order="published_at asc"}}
        <div class="partner-marquee-track">
            {{!-- First set of logos --}}
            {{#foreach posts}}
                <div class="partner-logo">
                    <img src="{{img_url feature_image}}" alt="{{title}}">
                </div>
            {{/foreach}}
            {{!-- Duplicate set for seamless infinite scroll --}}
            {{#foreach posts}}
                <div class="partner-logo">
                    <img src="{{img_url feature_image}}" alt="{{title}}">
                </div>
            {{/foreach}}
        </div>
        {{/get}}
    </div>
</section>
