<section class="stats-section">
    <div class="container">
        {{#get "posts" filter="tag:hash-site-stat" limit="all" order="published_at asc"}}
        <div class="stats-grid">
            {{#foreach posts}}
            <div class="stat-item">
                <div class="stat-content">
                    <span class="stat-value">{{title}}</span>
                    <span class="stat-label">{{excerpt}}</span>
                </div>
            </div>
            {{/foreach}}
        </div>
        {{/get}}
    </div>
</section>
